canvas {
    display: block;
}
  
#title {
    font-family: 'Turret Road';
    color: white;
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    font-size: 130px;
    top: 300px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
  
#bt {
    font-family: 'Exo';
    position: absolute;
    z-index: 100;
    top: 600px;
    transition: .3s all ease-in-out;
}
  
#bt:hover {
    background: black;
    transition: .3s all ease-in-out;
    color: white;
}
  
#d {
    display: flex;
    justify-content: center;
}

#cover-icon-left {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    left: 870px;
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

#cover-icon-right {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    right: 870px;
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

#cover-icon-left:hover {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

#cover-icon-right:hover {
    -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

#side {
    border-radius: 0;
    border: 0px solid transparent;
    width: 200px;
    height: 40px;
    text-align: left;
    padding-left: 13px;
    font-family: 'Muli';
    background: rgb(99, 0, 58);
    transition: .2s all ease-in-out;
    color: rgb(250, 250, 250);
}

#side-icon {
    padding-right: 10px;
}

#side-label {
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 13px;
    padding-top: 20px;
    font-size: 18px;
    color: white;
    font-family: 'Signika';
    background:rgb(99, 0, 58);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#side:hover {
    background: rgb(61, 0, 36);
    transition: .2s all ease-in-out;
}

#side:focus {
    outline: none;
    box-shadow: none;
    background: #16262e;
}

#header {
    background: rgb(99, 0, 58);
    opacity: 0.85;
}

.header-bt {
    font-family: 'Multi';
    transition: .2s all ease-in-out;
}

.header-bt:hover {
    background: rgb(61, 0, 36);
    transition: .2s all ease-in-out;
}

#name {
    color: white;
    font-family: 'Turret Road';
    font-size: 28px;
    margin-top: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

.container-class {
    margin-top: 50px;
}

#top-container {
    width: 1470px;
    height: 800px;
    margin-left: 270px;
}

#top-fill-container {
    width: 1470px;
    height: 800px;
    margin-left: 270px;
}

#inner-container {
    background: linear-gradient(to right bottom, #304c5a, #3a5f70);
    opacity: 0.6;
    box-shadow: 2px 2px 10px;
}

#welcome-text {
    margin-left: 10px;
    height: 150px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#header-text {
    margin-left: 30px;
    height: 160px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#slider-container {
    margin-left: 20px !important;
    width: 450px !important;
    background: black;
}

#slider-container:hover #slider-image {
    opacity: 0.5
}

#slider-image {
    width: 450px;
    height: 450px;
    transition: all 0.5s ease;
}

#playlist-name {
    width: 450px;
    text-align: center;
    color: white;
    position: absolute;
    top: 250px;
    font-family: 'Maven Pro';
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    transition: 0.35s ease;
}

#slider-container:hover #playlist-name {
    opacity: 1;
    top: 200px;
}

#slider-container-small {
    margin-left: 95px !important;
    width: 300px !important;
    height: 300px !important;
    position: relative;
    background: black;
}

#slider-container-small:hover #slider-image-small {
    opacity: 0.5;
}

#slider-image-small {
    width: 300px;
    height: 300px;
    transition: all 0.5s ease;
}

#playlist-name-small {
    width: 300px;
    text-align: center;
    color: white;
    position: absolute;
    top: 190px;
    font-family: 'Maven Pro';
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    transition: 0.35s ease;
}

#slider-container-small:hover #playlist-name-small {
    opacity: 1;
    top: 140px;
}

#slider-container-tiny {
    margin-left: 95px !important;
    width: 275px !important;
    height: 275px !important;
    position: relative;
    background: black;
}

#slider-container-tiny:hover #slider-image-tiny {
    opacity: 0.5;
}

#slider-image-tiny {
    width: 275px;
    height: 275px;
    transition: all 0.5s ease;
}

#playlist-name-tiny {
    width: 275px;
    text-align: center;
    color: white;
    position: absolute;
    top: 170px;
    font-family: 'Maven Pro';
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    transition: 0.35s ease;
}

#slider-container-tiny:hover #playlist-name-tiny {
    opacity: 1;
    top: 120px;
}

#control {
    background: #262626;
    height: 64px;
    position: absolute;
    bottom: 0;
}

#info {
    font-family: 'Lato';
}

#track-title {
    color: white;
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#artist-title {
    color: rgb(209, 200, 200);
    padding-left: 8px;
    margin-bottom: 13px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#control-button {
    background: #262626;
    border-radius: 0;
    border: 0px solid transparent;
}

#progress-bar {
    height: 8px;
    background-color: #605CA8;
}

#image {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#player-col-left {
    padding-left: 0px;
    padding-right: 0px;
    flex: 0 0 64px;
}

#player-col-right {
    padding-left: 0px;
    padding-right: 0px;
}

#artist-info {
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s all ease;
}

#artist-info:hover {
    background: rgba(255, 255, 255, 0.3);
}

#artist-font {
    color: rgba(0, 0, 0, 0.6);
}

#artist-pop {
    padding-left: 10px;
}

#stat-container {
    width: 230px !important;
    height: 230px !important;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 22px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    position: relative;
    transition: 0.3s all ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

#stat-container:hover {
    background: rgba(255, 255, 255, 0.3);
}

#stat-top {
    position: absolute;
    top: 25%;
    left: 16%;
}

#stat-bottom {
    position: absolute;
    top: 8%;
    left: 3%;
}

#stat-col {
    padding-left: 20px;
    padding-right: 0px;
    flex: 0 0 250px;
}

#artist-col {
    padding-left: 55px;
    padding-right: 0px;
    padding-top: 60px;
}

html body {
    background: linear-gradient(to right bottom, #da4453, #89216b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}