canvas {
    display: block;
}
  
#title {
    font-family: 'Turret Road';
    color: white;
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    font-size: 130px;
    top: 300px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
  
#bt {
    font-family: 'Exo';
    position: absolute;
    z-index: 100;
    top: 600px;
    transition: .3s all ease-in-out;
}
  
#bt:hover {
    background: black;
    transition: .3s all ease-in-out;
    color: white;
}
  
#d {
    display: flex;
    justify-content: center;
}

#side {
    border-radius: 0;
    border: 0px solid transparent;
    width: 200px;
    height: 50px;
    text-align: left;
    font-family: 'Muli';
    background: linear-gradient(to right, #374254, #465773);
    transition: .2s all ease-in-out;
}

#side:hover {
    background: #1e3440;
    text-align: right;
    transition: .2s all ease-in-out;
}

#side:focus {
    outline: none;
    box-shadow: none;
    background: #16262e;
}

#header {
    /*background: #435f7a;*/
    background: linear-gradient(to right, #546683, #404c5e);
    opacity: 0.75;
}

.header-bt {
    font-family: 'Multi';
    transition: .2s all ease-in-out;
}

.header-bt:hover {
    background: #1e3440;
    transition: .2s all ease-in-out;
}

#name {
    font-size: 28px;
    margin-top: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

.container-class {
    margin-top: 50px;
}

#top-container {
    width: 1470px;
    height: 800px;
    margin-left: 270px;
}

#top-fill-container {
    width: 1470px;
    height: 800px;
    margin-left: 270px;
    background: linear-gradient(to right bottom, #304c5a, #3a5f70);
    opacity: 0.6;
    box-shadow: 2px 2px 10px;
}

#inner-container {
    background: linear-gradient(to right bottom, #304c5a, #3a5f70);
    opacity: 0.6;
    box-shadow: 2px 2px 10px;
}

#welcome-text {
    margin-left: 10px;
    height: 150px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#header-text {
    margin-left: 30px;
    height: 150px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

#sub-text {
    font-size: 24px;
    margin-left: 25px;
}

#list-text {
    font-family: 'Maven Pro';
    background: #183546;
    font-size: 36px;
    padding-left: 25px;
    margin-left: 30px;
    margin-top: 20px;
    height: 75px;
    width: 1330px;
    opacity: 0.75;
    box-shadow: 2px 2px 5px black;
    line-height: 75px;
    transition: .2s all ease-in-out;
}

#list-text:hover {
    background: #112835;
    transition: .2s all ease-in-out;
}

#play-button {
    margin-bottom: 7px;
    margin-right: 20px;
    border: 2px solid rgb(194, 189, 189);
    background: #183546;
    width: 50px;
    height: 50px;
    padding: 10px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 0.95;
}

#play-button:hover {
    width: 55px;
    height: 55px;
}

#play-icon {
    background: #183546;
}

#control {
    background: #353a41;
    height: 100px;
}

#info {
    font-family: 'Lato';
}

#track-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 23px;
}

#artist-title {
    color: rgb(209, 200, 200);
    margin-bottom: 27px;;
}

#control-button {
    background: #353a41;
    border-radius: 0;
    border: 0px solid transparent;
}

html body {
    background: linear-gradient(to right bottom, #6d8dab, #1c3144);
    background-repeat: no-repeat;
    background-attachment: fixed;
}