canvas {
    display: block;
}
  
#title {
    font-family: 'Turret Road';
    color: white;
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    font-size: 130px;
    top: 300px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
  
#bt {
    font-family: 'Exo';
    position: absolute;
    z-index: 100;
    top: 600px;
    transition: .3s all ease-in-out;
}
  
#bt:hover {
    background: black;
    transition: .3s all ease-in-out;
    color: white;
}
  
#d {
    display: flex;
    justify-content: center;
}

#side {
    border-radius: 0;
    border: 0px solid transparent;
    width: 200px;
    height: 50px;
    text-align: left;
    font-family: 'Muli';
    background: linear-gradient(to right, #374254, #465773);
}

#side:hover {
    background: #1e3440;
}

#side:focus {
    outline: none;
    box-shadow: none;
    background: #16262e; 
}

#header {
    background: #435f7a;
    background: linear-gradient(to right, #546683, #404c5e);
    opacity: 0.75;
}

#name {
    font-size: 28px;
    margin-top: 7px;
}

html body {
    background: linear-gradient(to right bottom, #6d8dab, #1c3144);
    background-repeat: no-repeat;
    background-attachment: fixed;
}