.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

canvas {
  display: block;
}

#title {
  font-family: 'Turret Road';
  color: white;
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%;
  font-size: 130px;
  top: 300px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

#bt {
  font-family: 'Exo';
  position: absolute;
  z-index: 100;
  top: 600px;
  transition: .3s all ease-in-out;
}

#bt:hover {
  background: black;
  transition: .3s all ease-in-out;
  color: white;
}

#d {
  display: flex;
  justify-content: center;
}